body {
    font-family: 'Varela Round', arial, sans-serif;
    padding: 100px, 100px, 100px, 0px;
}

.divider {
    border-bottom-color: rgb(115, 115, 115);
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.nav-link {
    text-transform: uppercase;
    padding-bottom: 0px;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 19.2px;
}

.nav-link:not(.active):hover {
    color: #E5C0FF !important;
    border-bottom-color: rgb(115, 115, 115);
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.nav-link.active {
    color: rgb(17, 17, 17) !important;
    font-weight: bold;
    border-bottom: 2px solid;
}

.img-square {
    height: 250px;
    width: 250px;
    object-fit: cover;
}