/* /Layout/Footer.razor.rz.scp.css */
/* /Layout/MainLayout.razor.rz.scp.css */
/* /Layout/Modal.razor.rz.scp.css */
.image-container[b-pm94d1owvw] {
    position: relative;
    width: 100%;
    max-height: 100vh;
}

.image:hover + .image-description[b-pm94d1owvw] {
    opacity: 1;
}

.image-description[b-pm94d1owvw] {
    position: absolute;
    bottom: 0;
    opacity: 0;
    font-size: 12px;
    color: rgb(187, 187, 187);
    transition: opacity 0.3s;
    width: 100%;
}

@media (max-width: 992px) {
    .image-description[b-pm94d1owvw] {
        text-align: start;
    }
}
/* /Layout/ModalCarousel.razor.rz.scp.css */
.image:hover + .image-description-container[b-e8p4a2e4ig] {
    opacity: 1;
}

.image-description-container[b-e8p4a2e4ig] {
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.3s;
    width: 100%;
}

.image-description[b-e8p4a2e4ig] {
    font-size: 12px;
    color: rgb(187, 187, 187);
}

@media (max-width: 992px) {
    .image-description[b-e8p4a2e4ig] {
        text-align: start;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
