@page "/about"

<PageTitle>About - Brittant Roach Design</PageTitle>

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-9 text-center">
            <img src="images/about/headshot.jpg" alt="headshot" class="img-fluid" />
            <p class="my-4 text-description">
                My passion for design started at a young age, inspired by the show Trading Spaces. As a child I never knew that being able to transform spaces could turn into a lifelong career;
                it just seemed to fun to be a professional career. With a natural eye for colour, texture and current trends, pursuing a career in the design industry was a must!
            </p>
        </div>
    </div>
</div>