@page "/douglas-reno"

<PageTitle>Douglas Home Renovation - Brittant Roach Design</PageTitle>

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-10">
            <div id="carouselReno" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselReno" data-bs-slide-to="0" class="active img-indicator" aria-current="true" aria-label="Slide 1">
                        <img src="images/portfolio/douglasreno/dr_sm_1.jpg" class="d-block" alt="Douglas Home Reno Living Room Area">
                    </button>
                    <button type="button" data-bs-target="#carouselReno" data-bs-slide-to="1" class="img-indicator" aria-label="Slide 2">
                        <img src="images/portfolio/douglasreno/dr_sm_2.jpg" class="d-block" alt="Douglas Home Reno Kitchen">
                    </button>
                    <button type="button" data-bs-target="#carouselReno" data-bs-slide-to="2" class="img-indicator" aria-label="Slide 3">
                        <img src="images/portfolio/douglasreno/dr_sm_3.jpg" class="d-block" alt="Douglas Home Reno Bathroom Vanity">
                    </button>
                    <button type="button" data-bs-target="#carouselReno" data-bs-slide-to="3" class="img-indicator" aria-label="Slide 4">
                        <img src="images/portfolio/douglasreno/dr_sm_4.jpg" class="d-block" alt="Douglas Home Reno Bathroom">
                    </button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="4000">
                        <img src="images/portfolio/douglasreno/dr_lg_1.jpg" class="d-block w-100" alt="Douglas Home Reno Living Room Area">
                    </div>
                    <div class="carousel-item" data-bs-interval="4000">
                        <img src="images/portfolio/douglasreno/dr_lg_2.jpg" class="d-block w-100" alt="Douglas Home Reno Kitchen">
                    </div>
                    <div class="carousel-item" data-bs-interval="4000">
                        <img src="images/portfolio/douglasreno/dr_lg_3.jpg" class="d-block w-100" alt="Douglas Home Reno Bathroom Vanity">
                    </div>
                    <div class="carousel-item" data-bs-interval="4000">
                        <img src="images/portfolio/douglasreno/dr_lg_4.jpg" class="d-block w-100" alt="Douglas Home Reno Bathroom">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselReno" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselReno" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <p class="text-description">
                A couple had recently purchased a 1960’s style ranch home in an exclusive London neighbourhood.
                They wanted to update the home to accommodate for their needs and to reflect their personal style.
                Mrs. Douglas is a trained chief that owns a high-end kitchen boutique. She is fun, energetic and loves to entertain.
                Mr. Douglas is the CEO of an environmental engineering firm in London.
            </p>
            <p class="text-description">
                The homes new layout must be open-concept, must include more windows, and to use eco-friendly materials.
                Other wants for the home is to have a high-end kitchen, outdoor living space to cook and entertain and a luxury ensuite.
            </p>
            <p class="text-description">
                The homes new layout is open concept but still allows for privacy in each room.
                The kitchen and bathroom have been design to meet the requirements of the National Kitchen and Bath Association.
                The new style of the interior has a retro-modern feel to it. To reflect the 1960’s style of home, retro-inspired fabric and colours where used throughout the home.
            </p>

            <Modal ImagePath="images/portfolio/douglasreno/dr_plan.jpg" Description="Douglas Home Reno- First Floor Plan" />
        </div>
    </div>
</div>