@page "/"

<PageTitle>Brittant Roach Design</PageTitle>

<div class="container my-5">
    <div class="d-flex flex-column align-items-center">
        <a href="/portfolio" class="mb-4">
            <img src="images/home/revit.jpg" alt="Revit" class="img-fluid">
        </a>
        <a href="/art-work" class="mb-4">
            <img src="images/home/hand_drawing.jpg" alt="hand Drawing" class="img-fluid">
        </a>
        <a href="/portfolio" class="mb-3">
            <img src="images/home/office.jpg" alt="Office" class="img-fluid">
        </a>
    </div>
</div>