@page "/mulberry-community-project"

<PageTitle>Mulberry Community Project - Brittant Roach Design</PageTitle>

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-10">
            <div id="carouselMulberry" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselMulberry" data-bs-slide-to="0" class="active img-indicator" aria-current="true" aria-label="Slide 1">
                        <img src="images/portfolio/mulberryproject/mcp_sm_1.jpg" class="d-block" alt="Exterior of Home">
                    </button>
                    <button type="button" data-bs-target="#carouselMulberry" data-bs-slide-to="1" class="img-indicator" aria-label="Slide 2">
                        <img src="images/portfolio/mulberryproject/mcp_sm_2.jpg" class="d-block" alt="Living Area">
                    </button>
                    <button type="button" data-bs-target="#carouselMulberry" data-bs-slide-to="2" class="img-indicator" aria-label="Slide 3">
                        <img src="images/portfolio/mulberryproject/mcp_sm_3.jpg" class="d-block" alt="Kitchen">
                    </button>
                    <button type="button" data-bs-target="#carouselMulberry" data-bs-slide-to="3" class="img-indicator" aria-label="Slide 4">
                        <img src="images/portfolio/mulberryproject/mcp_sm_4.jpg" class="d-block" alt="Bedroom">
                    </button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="4000">
                        <img src="images/portfolio/mulberryproject/mcp_lg_1.jpg" class="d-block w-100" alt="Exterior of Home">
                    </div>
                    <div class="carousel-item" data-bs-interval="4000">
                        <img src="images/portfolio/mulberryproject/mcp_lg_2.jpg" class="d-block w-100" alt="Living Area">
                    </div>
                    <div class="carousel-item" data-bs-interval="4000">
                        <img src="images/portfolio/mulberryproject/mcp_lg_3.jpg" class="d-block w-100" alt="Kitchen">
                    </div>
                    <div class="carousel-item" data-bs-interval="4000">
                        <img src="images/portfolio/mulberryproject/mcp_lg_4.jpg" class="d-block w-100" alt="Bedroom">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselMulberry" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselMulberry" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <p class="text-description">
                The goal for this project was to ensure the residence accommodated for all three types of intellectual diversities, autism, Down syndrome and dementia,
                because each has their own individual needs. Another huge aspect was to not make this residence feel like a hospital or nursing home; it is supposed to feel like a home.
            </p>
            <p class="text-description">
                An open concept layout was most suitable for the residence.
                Residence are able to “preview” what is ahead of them so they can determine if they want to enter the space or not, giving them a greater sense of independence.
                The home also consists of private and interactive areas. The snoozlen room is an area for individuals to escape when life feels overwhelming.
                The open common room is there for residence when they feel interactive.
            </p>

        </div>

        <div class="col-10 text-center">
            <Modal ImagePath="images/portfolio/mulberryproject/mcp_plan.jpg" Description="Mulberry Community - Floor Plan" />
        </div>
    </div>
</div>