@page "/portfolio"

<PageTitle>Portfolio - Brittant Roach Design</PageTitle>

<div class="container text-center my-5">
    <div class="row justify-content-center">

        <div class="col-auto">
            <a href="/douglas-reno">
                <img src="images/portfolio/home_renovation.jpg" alt="Home Renovation" class="img-square">
            </a>
            <p>Home Renovation</p>
        </div>

        <div class="col-auto">
            <a href="/vogue-office">
                <img src="images/portfolio/vogue_office.jpg" alt="Office" class="img-square">
            </a>
            <p>Office</p>
        </div>

        <div class="col-auto">
            <a href="/mulberry-community-project">
                <img src="images/portfolio/health_care_community.jpg" alt="Health Care Community" class="img-square">
            </a>
            <p>Health Care Community</p>
        </div>

    </div>
</div>