@page "/portfolio/vogue-office"

<PageTitle>Vogue Office Project - Brittant Roach Design</PageTitle>

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-9">
            <div id="carouselVogue" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselVogue" data-bs-slide-to="0" class="active img-indicator" aria-current="true" aria-label="Slide 1">
                        <img src="images/portfolio/vogueoffice/v_sm_1.jpg" class="d-block" alt="Reception Area">
                    </button>
                    <button type="button" data-bs-target="#carouselVogue" data-bs-slide-to="1" class="img-indicator" aria-label="Slide 2">
                        <img src="images/portfolio/vogueoffice/v_sm_2.jpg" class="d-block" alt="Closed Office">
                    </button>
                    <button type="button" data-bs-target="#carouselVogue" data-bs-slide-to="2" class="img-indicator" aria-label="Slide 3">
                        <img src="images/portfolio/vogueoffice/v_sm_3.jpg" class="d-block" alt="Open Offices">
                    </button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="4000">
                        <img src="images/portfolio/vogueoffice/v_lg_1.jpg" class="d-block w-100" alt="Reception Area">
                    </div>
                    <div class="carousel-item" data-bs-interval="4000">
                        <img src="images/portfolio/vogueoffice/v_lg_2.jpg" class="d-block w-100" alt="Closed Office">
                    </div>
                    <div class="carousel-item" data-bs-interval="4000">
                        <img src="images/portfolio/vogueoffice/v_lg_3.jpg" class="d-block w-100" alt="Open Offices">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselVogue" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselVogue" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-9 mx-5">
                <p class="text-description">
                    Vogue’s management team asked for a new functional layout that will embrace the several work ethics that take place throughout the company.
                    An office space for 37 people was to be designed to accommodate for the wide variety of daily task.
                    It is essential the redesigned space accommodates for the needs of every employee and influences productivity.
                </p>
                <p class="text-description">
                    An open concept layout was designed to encourage creativity, collaboration and productivity.
                    Work areas vary throughout the space to accommodate for the needs of employees, depending on the type of tasks that will be taking place.
                    The finishes of the space were inspired by the beach. Cool colours and fabrics with organic “wave-like” patterns were incorporated to reflect the water.
                    Browns were incorporated to reflect the sand at the beach. With having a beach inspired office it will embrace employees to feel calm while working.
                    With incorporating these new philosophies on innovation in a workspace Vogues new office space reflects their successes as a business and work ethics.
                </p>
            </div>

            <div class="col-3">
                <Modal ImagePath="images/portfolio/vogueoffice/v_first_floor.jpg" Description="Vogue Office - First Floor Plan" />
            </div>

            <div class="col-3">
                <Modal ImagePath="images/portfolio/vogueoffice/v_second_floor.jpg" Description="Vogue Office - Second Floor Plan" />
            </div>

            <div class="col-3">
                <Modal ImagePath="images/portfolio/vogueoffice/diploma.jpeg" Description="Vogue Office - Award" />
            </div>
        </div>
    </div>
</div>